extends ../shared/_master

block content
    div(class="filter")
        input(id="search" class="form-control" type="search" name="searchField" placeholder = "Search..." data-provide="typeahead" autocomplete="off")
        button(class="btn-search")
            i(class="fa fa-search")
        br
        div(class="town-select")
            | Choose your city
            select(name="carlist" form="carform")
                option(value='') All
                each town in location
                    option(value=town.name) #{town.name}
    h1
        | Showing you the most popular 
        =type 
        | to include in your list!
    div
        ul
            each place in model
                li
                    span
                        a(href="")
                            =place.title 
                    span                
                        =place.type 
                    span
                        =place.address
block additionalCss
    link(rel="stylesheet" href="/static/styles/search.css")
    link(rel="stylesheet" href="/static/styles/nice-select.css")
    
block additionalScripts
    script(src='/static/scripts/jquery.nice-select.js')
    script(src='/static/scripts/nice-initialize.js')

    script(src='/libs/bootstrap-3-typeahead/bootstrap3-typeahead.js')
    script(src='/static/scripts/searchByPlace.js')

