extends ../shared/_master

block content
    div(class="filter")
        input(id="search" class="form-control" type="search" name="searchField" placeholder = "Search..." data-provide="typeahead" autocomplete="off")
        button(class="btn-search")
            i(class="fa fa-search")
        br
        div(class="town-select")
            span(class="town-label")
                | CHOOSE YOUR CITY:
            select#town-select(name="carlist" form="carform")
                option(value='') All
                each town in location
                    option(value=town.name) #{town.name}
    h2
        | Showing you the most popular 
        b
            =category 
        |  to include in your list!
    div
        ul(class="all")
            each place in model
                li(class="place-container col-sm-4" )
                    div(class="title")
                        a(href="/places/"+place.id)
                            =place.title
                    div(class="place-location")
                        i(class="glyphicon glyphicon-map-marker")
                        | 
                        =place.town
                    div(class="image")
                        a(href="/places/"+place.id)
                            img(class="place-small-pic" src="/static/uploads/"+place.picUrl) 
                    div(class="place-description")                
                        =place.description 

block additionalCss
    link(rel="stylesheet" href="/static/styles/search.css")
    link(rel="stylesheet" href="/static/styles/places-all.css")
    link(rel="stylesheet" href="/static/styles/nice-select.css")
    
block additionalScripts
    script(src='/static/scripts/jquery.nice-select.js')
    script(src='/static/scripts/nice-initialize.js')
    script(src='/libs/bootstrap-3-typeahead/bootstrap3-typeahead.js')
    script(src='/static/scripts/searchByPlace.js')

