extends ../shared/_master

block content
    form( method='POST', action='/places/create' enctype='multipart/form-data')
        div
            if (messages.error)
                span(class='alert alert-danger')
                    =messages.error
            label(for="Upload image")
            input(type="file" value="Choose File" name="imageUpload" accept='image/*')
        div
            label(for="title") 
                | Place Title:
            input(name="title", type="text", required="required")
        div
            label(for="description") 
                | Description:
            input(name="description", type="textarea", required="required")
        div
            label(for="town") 
                | City:
            input(name="town", type="text", required="required")
        div
            label(for="category") 
                | Category:
            select(name="category")
                option(value="restaurants")
                    | Restaurants
                option(value="bars")
                    | Bars & Pubs
                option(value="clubs")
                    | Clubs & Music
        div
            label(for="address") 
                | Address:
            input(name="address", type="text", required="required")
        div
            label(for="openingHours") 
                | Opening hours:
            input(name="openingHours", type="text", required="required")
        div
            label(for="email") 
                | Contact e-mail address:
            input(name="email", type="email", required="required")
        input(type="submit", value="Create")
        
