extends ../shared/_master

block content
    div
        h1
            =model.name
        img(src="/static/uploads/"+model.picUrl)
        div
            div
                =model.description
            div
                =model.openingHours
            div
                =model.address
            div
                a(href="/places/"+model.id+"/contacts")

            div(class="comments")
                each comment in model.comments
                    div(class="single-comment")
                        p
                            =comment.username
                        p
                            =comment.content

            div(class="new-comment")
            if (user.loggedIn)
                form(action="/places/"+model.id method="post")
                    input(type="textarea" name="content" placeholder="Add your comment here..." pattern=".{0,1000}")
                    input(type="submit", value="Comment")
            else
                a(href='/users/login')
                    | You need to login to leave a comment.
