extends ../shared/_master

block content
    div(class="main-info")
        h1
            =model.title
        div(class="place-location")
            i(class="glyphicon glyphicon-map-marker")
                | 
                =model.town
        img(class="main-pic" src="/static/uploads/"+model.picUrl)
        div(class="place-info")
            div
                =model.description
            div
                span    
                    | Opening hoours: 
                    =model.openingHours
            div
                span
                    | Address: 
                    =model.address
            div
                span
                    | Contacts: 
                    =model.email

            div(class="comments")
                each comment in model.comments
                    div(class="single-comment")
                        p
                            =comment.username
                        p
                            =comment.content
            input(type="button" class="fav")
            div(class="new-comment")
            if (user.loggedIn)
                form(action="/places/"+model.id method="post")
                    input(type="textarea" name="content" placeholder="Add your comment here..." pattern=".{0,1000}")
                    input(type="submit", value="Comment")
            else
                a(href='/users/login')
                    | You need to login to leave a comment.
block additionalCss
    link(rel="stylesheet" href="/static/styles/details.css")