extends ../shared/_master

block content

    div(class="container")
        div(class="row")
            div(class="col-sm-2 col-md-2")
                img(src="http://thetransformedmale.files.wordpress.com/2011/06/bruce-wayne-armani.jpg" alt="" class="img-rounded img-responsive")
            div(class="col-sm-4 col-md-4")
                blockquote
                    p
                        | Bruce Wayne
                    small
                        cite(title="Source Title")
                            | Gotham, United Kingdom  
                            i(class="glyphicon glyphicon-map-marker")
                p 
                    i(class="glyphicon glyphicon-envelope")
                    |  masterwayne@batman.com
                    br 
                    i(class="glyphicon glyphicon-globe") 
                    |  www.bootsnipp.com
                    br 
                    i(class="glyphicon glyphicon-gift")
                    |  January 30, 1974
            div(class="col-sm-2 col-md-2")
                img(src="http://thetransformedmale.files.wordpress.com/2011/06/bruce-wayne-armani.jpg" alt="" class="img-rounded img-responsive")
            div(class="col-sm-4 col-md-4")
                blockquote
                    p
                        | Bruce Wayne
                    small
                        cite(title="Source Title")
                            | Gotham, United Kingdom  
                            i(class="glyphicon glyphicon-map-marker")
                p 
                    i(class="glyphicon glyphicon-envelope")
                    |  masterwayne@batman.com
                    br 
                    i(class="glyphicon glyphicon-globe") 
                    |  www.bootsnipp.com
                    br 
                    i(class="glyphicon glyphicon-gift")
                    |  January 30, 1974
