extends ../shared/_master

block additionalCss
    link(rel="stylesheet" href="/static/styles/home.css")

block content
    h1
        | Planning a Night Out?
    h2
        | This is your personal guide to the world of food, drinks and good music!
    div(class="container")
        div(id="myCarousel" class="carousel slide" data-ride="carousel")
            <!-- Wrapper for slides -->
            ul(class="nav nav-pills nav-justified")
                li(data-target="#myCarousel" data-slide-to="0" class="active")
                    a(href="#")
                        | Restaurants
                li(data-target="#myCarousel" data-slide-to="1")
                    a(href="#")
                        | Bars & Pubs
                li(data-target="#myCarousel" data-slide-to="2")
                    a(href="#")
                        | Clubs & Music
            div(class="carousel-inner blur-box")
                div(class="item active")
                    a(href="/places/category/restaurants")
                        img(src="/static/images/slider/restaurant.jpg" alt="Restaurant")
                        div(class="carousel-caption")
                            h3
                                | Restaurants
                            p
                                | Choose one of the hundreds delicious recomendations from all our friends. Enjoy the emotion
                                | to be part of a worl wide range of top places selected from various enterior and kitchen types.
                                | Let's make your experience fullfilling!
                <!-- End Item -->
                div(class="item")
                    a(href="/places/category/bars")
                        img(src="/static/images/slider/bar.jpg" alt="Bar")
                        div(class="carousel-caption")
                            h3
                                | Bars & Pubs
                            p
                                | Whether you want to have a casual chat with friends over a drink or you feel for a 
                                | glamorous night out, here you can find the best place for your occasion. Our hundresd of
                                | reccomendations will ensure you have a great experience!
                <!-- End Item -->
                div(class="item")
                    a(href="/places/category/clubs")
                        img(src="/static/images/slider/club.jpg" alt="Club")                        
                        div(class="carousel-caption")
                            h3
                                | Clubs & Music
                            p
                                | For all you dance and music lovers, we provide a wide range of all types of places to
                                | spend your friday night, party hard or just have a different night out. Check out the latest
                                | and most famous places in town and make your night remarkable!
                <!-- End Item -->
block additionalScripts
    script(src="/static/scripts/home.js")
    