extends ../shared/_master

block additionalCss
    link(rel="stylesheet" href="/static/styles/usersAll.css")
block additionalScripts
    script(src="/static/scripts/searchByName.js")
    script(src='/libs/bootstrap-3-typeahead/bootstrap3-typeahead.js')

block content
    div(class="container")
        h1
            | Registered users
        div
            input#search(type="search", name="searchField", placeholder = "Search...", data-provide="typeahead", autocomplete="off")
            button
                i(class="fa fa-search")
        div
            span 
                | Username
            span
                | Nationality
        div
            ul
                each user in model
                    li
                        span
                            a(href="/users/"+user.id)
                                img(src="/static/uploads/" + user.stringProfilePicture)
    
                        span
                            a(href="/users/"+user.id)
                                =user.username
                        span
                            =user.nationality
    
