extends ../shared/_master

block content
    h1
        | Registered users
    div
        input(type="search", name="searchField", placeholder = "Search...")
        button
            i(class="fa fa-search")
    div
        span 
            | Username
        span
            | Email
        span
            | Registration date
    div
        ul
            each user in model
                li
                    span
                        a(href="")
                            =user.username
                    span                
                        =user.email
                    span
                        =user.regDate