extends ../shared/_master

block additionalCss
    link(rel="stylesheet" href="/static/styles/usersAll.css")

block content
    div(class="container")
        h1
            | Registered users
        div
            input(type="search", name="searchField", placeholder = "Search...")
            button
                i(class="fa fa-search")
        div
            span 
                | Username
            span
                | Nationality
        div
            ul
                each user in model
                    li
                        span
                            a(href="/users/"+user.id)
                                img(src="/static/uploads/" + user.stringProfilePicture)
    
                        span
                            a(href="/users/"+user.id)
                                =user.username
                        span
                            =user.nationality
    
