extends ../shared/_master

block content
    .container
        if (messages.error)
            span(class='alert alert-danger')
                =messages.error
        h1 Profile of:
        =model.username
        h2 Image:
        img(src='/static/uploads/' + model.stringProfilePicture, alt='Profile picture')
        if model.id === user.userId
            form(action="/users/edit/" + user.userId, method='post', enctype='multipart/form-data')
                input(type='file', name='imageUpload', accept='image/*')
                input(type='submit', name='uploadimage', value='Upload Image')
        h2 Email:
        =model.email
        h2
        | Nationality
        div
            intput(class="password-change" type="button")
                | Change Password
        div(class="pass-container")
            label(for="pass")
                | NEW PASSWORD
            input(class="form-control" type="password" name="pass" pattern="^(?=.*[A-Za-z])(?=.*\\d)[A-Za-z\\d]{6,}$" title="The password must be at least 6 characters long, containing at least 1 numeric type symbol" required="required")
            label(for="pass-confirm")
                | PASSWORD CONFIRMATION
            input(class="form-control" id="confirm_password" name="password-confirm" type="password" value="" required="required")


block additionalScripts
    script(src='/static/scripts/validations.js')