extends ../shared/_master

block content
    div(class="container")
        div(class="row vertical-offset-100")
            div(class="col-md-4 col-md-offset-4")
                div(class="panel panel-default blur-box")
                    div(class="panel-heading")
                        h3(class="panel-title")
                            | LOGIN
                    div(class="panel-body blur-box")
                        form(action="/users/login" method="post")
                            fieldset
                                if (messages.error)
                                    span(class='alert alert-danger')
                                        =messages.error
                                div(class="form-group")
                                    label(for="username")
                                        | USERNAME:
                                    input(class="form-control" placeholder="Username" name="username" type="text" required="required")
                                div(class="form-group")
                                    label(for="password")
                                        | PASSWORD:
                                    input(class="form-control" placeholder="Password" name="password" type="password" value="" required="required")
                                div(class="help-links")
                                    span(class="register")
                                        a(href="/users/register")
                                            | Don't have an account? 
                                    span(class="line")
                                        | |
                                    span(class="forgotten-pass")
                                        a(href="/lostpass")
                                            |  Forgot your password?
                                div(class="checkbox")
                                    label
                                        input(name="remember" type="checkbox" value="Remember Me")
                                        | Remember Me
                                input#user-form-btn-login(class="btn btn-lg btn-success btn-block" type="submit" value="Login")

block additionalCss
    link(rel="stylesheet" href="/static/styles/login.css")

block additionalScripts
