extends ../shared/_master

block content
    div
        img(src="/static/uploads/" + model.stringProfilePicture, alt='Profile picture')
    h1 
        =model.username
    h2 
        | Email:
        =model.email
    h2
        | My Favourite Places:
    div
        if (model.favourites)
            each place in model.favourites
                li
                    img(src="/static/uploads/"+place.picUrl)
                    span
                        =place.placeTitle
                    span
                        =place.placeDescr
                



    