img.main-pic{
    width:670px;
    height:300px;
    margin:auto;
}

div.main-info{
    margin:auto;
    margin-top:50px;
    margin-bottom:50px;
    width:670px;
    border: 1px solid  rgb(88,82,60);
    border-radius:10px;
    background-color: rgba(88,82,60,0.55 );
}

input.fav{
    border-radius:10px;
    background: rgba(0,0,0,0);
    border:none;
    background-image: url("/static/images/fav-white.png");
    width:30px;
    height:23px;
    margin-left:20px;
}

@media (max-width: 768px){
    img.main-pic{
        width:400px;
        height:185px;
}

    div.main-info{
        margin:auto;
        width:400px;
    }
}

@media (max-width: 425px){
    img.main-pic{
        width:200px;
        height:90px;
}

    div.main-info{
        margin:auto;
        width:200px;
    }
}

.main-info h1, div.place-location{
    padding-left:15px;
    margin-bottom:10px;
}

div.place-location {
    font-size:1.1em;
}

div.place-info>div{
    padding-left:15px;
    padding-right:15px;
    margin-top: 20px;
    font-size:1.1em;
}

div.description, div.openning-hours, div.contacts, div.address{
    margin-bottom:20px;
}

span.labels{
    font-weight:bold;
    display:inline-block;
    width:200px;
}

div.comment-title{
    font-size:1.1em;
    font-weight: bold;
    margin-bottom:15px;
}

div.comments{
    width:95%;
}

div.single-comment{
    background-color: rgba(153,153,153,0.2);
    border-radius:5px;
    padding:10px;
    margin-bottom:5px;
}

div.single-comment p.author{
    color:white;
    font-weight: bold;
}

input.load-comments{
    background:none!important;
    color:inherit;
    border:none; 
    padding:0!important;
    font: inherit;
    margin:auto;
    cursor: pointer;
    width:100%;
    margin-bottom:15px;
}

input.load-comments:hover{
    font-weight: bold;
}

input[type="textarea"]{
    background-color: rgba(153,153,153,0.2);
    color:white;
    border:none;
    display:inline-block;
    width:82%;
}

input.add-comment{
    padding-top:2px;
    box-shadow: none;
    border: 1px solid  rgba(153,153,153,0.3);
    border-radius: 4px;
    background-color:  rgba(153,153,153,0.3);
    float:right;
    width:15%;
    height:34px;
}

input.add-comment:hover{
    background-color:  rgba(153,153,153,0.5);
    color:white;
}

div.new-comment{
    margin-bottom:20px;
}

@media (max-width: 768px){
    input[type="textarea"]{
        width: 70%;
    }
    input.add-comment {
        width: 25%;
    }
 
}

@media (max-width: 425px){
    input[type="textarea"]{
        display:block;
        width: 100%;
        margin-bottom:10px;
    }
    input.add-comment {
        display:block;
        width: 100%;
    }

    div.new-comment{
    margin-bottom:60px;
}
}

