header, body, nav, ul, li, div, p, span, a, footer{
    font-family: openSans !important;
    font-size:13px;
    color:#9d9d9d;
}

@font-face {
    font-family: openSans;
    src: url('../fonts/OpenSans-Regular.ttf');
}

.backImage{
    background-image: url("../images/background.jpg");
    background-repeat: repeat-y;
    background-size: 100%;
    background-position: center top;
    background-attachment: fixed;
    height:700px;
    margin-top:55px;
    z-index:-100;
}

div.container{
    padding-left:0px;
    padding-right: 0px;
}

div.container.general{
    z-index:200;
    opacity: 1;
    padding-left:30px;
    padding-right: 30px;
}

.navbar{
    min-height: 75px;
    margin:0;
    padding-left:30px;
    padding-right:30px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}

a.navbar-brand{
    padding-top:3px;
}

.dropdown-menu>li:hover a{
    background-color: black;
    color:white;
}

div.transparent{
    height:inherit;
}

/*FOOTER*/

footer{
    background-color: #222222;
}

/* Style all font awesome icons */
.fa {
    padding: 3px;
    padding-top:7px;
    font-size: 25px;
    width: 40px;
    height:40px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google-plus{
    background-color: #DD4B39;
    color: white;    
}

.fa-linkedin{
    background-color: #007BB5;
    color: white;
}

div.footer-right{
    float:right;
    padding-top:4px;
    padding-right:15px;
}

p.footer-links>a{
    padding-left:15px;
    padding-right:20px;
    color:#9d9d9d
}

p.footer-links>a:hover{
    background-color: black;
    color:white;
    text-decoration: none;
}



