mixin footer()
    footer(class="footer-distributed") 
        div(class="container genral")
            div(class="footer-right")
                ul(class="list-inline")
                    li
                        a(href="https://www.facebook.com" class="btn-social btn-outline")
                            span(class="sr-only")
                            i(class="fa fa-fw fa-facebook")
                    li
                        a(href="https://plus.google.com" class="btn-social btn-outline")
                            span(class="sr-only")
                            i(class="fa fa-fw fa-google-plus")
                    li
                        a(href="https://twitter.com" class="btn-social btn-outline")
                            span(class="sr-only")
                            i(class="fa fa-fw fa-twitter")
                    li
                        a(href="https://linkedin.com" class="btn-social btn-outline")
                            span(class="sr-only")
                            i(class="fa fa-fw fa-linkedin")
            div(class="footer-left")
                p(class="footer-links") 
                    a(href="/about")
                        | ABOUT
                    a(href="/contact")
                        | CONTACTS
            p
                | NightOut &copy; 2017 