mixin footer()
    footer(class="footer-distributed") 
        div(class="footer-right")
            ul(class="list-inline")
                li
                    a(href="https://www.facebook.com" class="btn-social btn-outline")
                        span(class="sr-only")
                        | Facebook
                        i(class="fa fa-fw fa-facebook")
                li
                    a(href="https://plus.google.com" class="btn-social btn-outline")
                        span(class="sr-only")
                        | Google Plus
                        i(class="fa fa-fw fa-google-plus")
                li
                    a(href="https://twitter.com" class="btn-social btn-outline")
                        span(class="sr-only")
                        | Twitter
                        i(class="fa fa-fw fa-twitter")
                li
                    a(href="https://linkedin.com" class="btn-social btn-outline")
                        span(class="sr-only")
                        | Linked In
                        i(class="fa fa-fw fa-linkedin")
        div(class="footer-left")
            p(class="footer-links") 
                a(href="/about")
                    | About ·
                a(href="/contact")
                    | Contacts
            p
                | NightOut &copy; 2017 