mixin nav
        nav(class="navbar navbar-inverse")
            div(class="container-fluid container general")
              div(class="navbar-header")
                button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
                  span(class="sr-only")
                    | Toggle navigation
                  span(class="icon-bar")
                  span(class="icon-bar")
                  span(class="icon-bar")
                a(class="navbar-brand" href="/")
                    img(src="/static/images/logo.png" alt="NightOut logo")
              div(id="navbar" class="navbar-collapse collapse")
                ul(class="nav navbar-nav")
                  li(class="#")
                    a(href="/")
                        | HOME
                  li
                    a(href="/places/categories/restaurants")
                        | RESTAURANTS
                  li
                    a(href="/places/categories/bars")
                        | BARS & PUBS
                  li
                    a(href="/places/categories/clubs")
                        | CLUBS & MUSIC
    
                ul(class="nav navbar-nav navbar-right")
                    if user.loggedIn
                        li(class="dropdown")
                            a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
                                i(class="fa fa-user" aria-hidden="true")
                                span(class="caret")
                                    | Hi #{user.username}
                            ul(class="dropdown-menu navbar-inverse")
                                li
                                    a(href="/users/edit/#{user.userId}") 
                                        | EDIT PROFILE
                                li
                                    a(href="/users/logout")     
                                    | LOGOUT
                    else
                        li
                            a(href="/users/login")
                                | LOGIN
                        li
                            a(href="/users/register")
                                | REGISTER 

