extends ../shared/_master

block content
    != messages()

    .container
        h1 Profile of:
        =model.username
        h2 Image:
        img(src='/uploads/' + context.stringProfilePicture, alt='Profile picture')
        if context._id.toString() === currentUserId
            form(method='post', enctype='multipart/form-data')
                input(type='file', name='imageupload')
                input(type='submit', name='uploadimage', value='Upload Image')
        h2 Email:
        =context.email