//extends ../layouts/_master
h1
    | Login
form(action='/home' method='post')
    div
        label(for='username') 
            | Username:
        input.username(name='username', type='text', required='required')
    div
        label(for='password') 
            | Password:
        input.password(name='password', type='password', required='required')
    div
        input(type='submit', value='Login')
    div
        a(href='/register')
            | Don't have an account?
        a(href='/lostpass')
            | Forgot your password?